<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mission Control</title>
  </head>
  <body>
    <div class="logo">
      <h1>Welcome to Mission Control</h1>
    </div>
    <div class="optionsLeft">
      <div id="1">
        New Project
      </div>
      <div id="2">
        Analyze Data
      </div>
      <div id="3">
        Settings
      </div>
    </div>
    <div class="optionsRight">
      <div id="4">
        Open Project
      </div>
      <div id="5">
        Create Simulation
      </div>
      <div id="6">
        Quit
      </div>
    </div>
  </body>
</html>
