<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="script.js" charset="utf-8"></script>
    <meta charset="utf-8">
    <title>Open Project</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="topbar">
      <h1>Open Project</h1>
    </div>
    <div id="projects" class="projects">

    </div>
    <div class="blockBar">

    </div>
    <div class="bottomBar">
      <div id="back" class="back">
        back
      </div>
      <!-- <div id="create" class="create">
        create
      </div> -->
    </div>
  </body>
</html>
