<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" charset="utf-8"></script>
    <script src="chart.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="sidebar">
      <div>
        <h3>Saturn V</h3>
      </div>
      <div>
        <ul>
          <li><a href="#home">Home</a></li>
          <li>Software
            <ul>
              <li><a href="#test">Test Current Code</a></li>
              <li><a href="#train">Train AI</a></li>
              <li><a href="#upload">Upload Module</a></li>
              <li><a href="#create">Create Module</a></li>
            </ul>
          </li>
          <li>Launch
            <ul>
              <li><a href="#">New Launch</a></li>
              <li><a href="#">Previous Launches</a></li>
              <li><a href="#">Weather</a></li>
            </ul>
          </li>
          <li>Grow
            <ul>
              <li><a href="#">Social Media</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="main">
      <fieldset>
        <legend>General</legend>
        <p><b>Project Name: </b>Saturn V</p>
        <p><b>Project Creator: </b>Wernher Von Braun</p>
      </fieldset>
      <fieldset>
        <legend>Launches</legend>
        <div class="launches">
          <img src="http://www.placekitten.com/300/300" alt="Image">
          <img src="http://www.placekitten.com/300/300" alt="Image">
          <img src="http://www.placekitten.com/300/300" alt="Image">
          <img src="http://www.placekitten.com/300/300" alt="Image">
          <img src="http://www.placekitten.com/300/300" alt="Image">
          <img src="http://www.placekitten.com/300/300" alt="Image">
          <img src="http://www.placekitten.com/300/300" alt="Image">
          <img src="http://www.placekitten.com/300/300" alt="Image">
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </fieldset>
      <fieldset>
        <legend>Statistics</legend>
        <canvas id="myChart" style="height: 300px; width: 100%;"></canvas>
      </fieldset>
    </div>
  </body>
</html>
